# Disabling sudo moves build to the Container Based Infrastructure on Travis CI
sudo: false

language: android
jdk: oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - android-23
    - build-tools-25.0.3
    - extra-android-m2repository
    - extra-android-support

before_install:
  - pip install --user codecov

script:
  - bash ci/pull_request.sh

after_success:
  - codecov

notifications:
  email: false

cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle
